In [ ]:
import pandas as pd

In [ ]:
import os

os.environ['KAGGLE_API_TOKEN'] = '**'

In [ ]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.12/dist-packages (1.7.4.5)
Requirement already satisfied: bleach in /usr/local/lib/python3.12/dist-packages (from kaggle) (6.3.0)
Requirement already satisfied: certifi>=14.05.14 in /usr/local/lib/python3.12/dist-packages (from kaggle) (2026.1.4)
Requirement already satisfied: charset-normalizer in /usr/local/lib/python3.12/dist-packages (from kaggle) (3.4.4)
Requirement already satisfied: idna in /usr/local/lib/python3.12/dist-packages (from kaggle) (3.11)
Requirement already satisfied: protobuf in /usr/local/lib/python3.12/dist-packages (from kaggle) (5.29.5)
Requirement already satisfied: python-dateutil>=2.5.3 in /usr/local/lib/python3.12/dist-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.12/dist-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from kaggle) (2.32.4)
Requirement already satisfied: setuptools>=21.0.0 in /usr/local/lib/python3.12/dist-packages (from kaggle) (75.2.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.12/dist-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in /usr/local/lib/python3.12/dist-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in /usr/local/lib/python3.12/dist-packages (from kaggle) (2.5.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.12/dist-packages (from kaggle) (0.5.1)

In [ ]:
!kaggle datasets list

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 4, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python3.12/dist-packages/kaggle/__init__.py", line 6, in <module>
    api.authenticate()
  File "/usr/local/lib/python3.12/dist-packages/kaggle/api/kaggle_api_extended.py", line 434, in authenticate
    raise IOError('Could not find {}. Make sure it\'s located in'
OSError: Could not find kaggle.json. Make sure it's located in /root/.config/kaggle. Or use the environment method. See setup instructions at https://github.com/Kaggle/kaggle-api/

In [ ]:
import json
import os

kaggle_creds = {
    "username": "savy20",
    "key": "KGAT_bc7b3e7b7454c723f5d7cfbbc7224992"
}

os.makedirs("/root/.config/kaggle", exist_ok=True)

with open("/root/.config/kaggle/kaggle.json", "w") as f:
    json.dump(kaggle_creds, f)

os.chmod("/root/.config/kaggle/kaggle.json", 0o600)

In [ ]:
!pip install kaggle --quiet

In [ ]:
!kaggle datasets list

ref                                                               title                                                     size  lastUpdated                 downloadCount  voteCount  usabilityRating
----------------------------------------------------------------  --------------------------------------------------  ----------  --------------------------  -------------  ---------  ---------------
neurocipher/heartdisease                                          Heart Disease                                             3491  2025-12-11 15:29:14.327000           2114        297  1.0
rockyt07/social-media-user-analysis                               Social Media User Analysis                           247842357  2026-01-14 02:28:41.970000              0         68  1.0
serkantysz/550k-spotify-songs-audio-lyrics-and-genres             550K Spotify Songs: Audio, Lyrics & Genres           246075351  2026-01-02 20:43:03.863000              0         36  1.0
saidaminsaidaxmadov/chocolate-sales                               Chocolate Sales                                         468320  2026-01-04 14:23:35.490000              0         49  1.0
neurocipher/student-performance                                   Student Performance                                      49705  2025-12-12 12:06:28.973000           1261        170  1.0
thedrzee/bmw-carsdataset                                          BMW CarsüöòDataset                                        112601  2026-01-10 05:27:38.117000              0         23  1.0
suvidyasonawane/student-academic-placement-performance-dataset    Student Academic Placement Performance Dataset           94469  2026-01-11 02:02:47.837000              0         29  1.0
ishank2005/salary-csv                                             Salary.csv                                                 392  2025-12-29 15:48:58.240000              0         57  1.0
asadullahcreative/ai-models-benchmark-dataset-2026-latest         üèÜ AI Models Benchmark Dataset 2026 (latest)               3450  2026-01-13 10:44:36.130000              0         36  1.0
hammadfarooq470/top-100-linkedin-companies-2026                   100 Most Followed Companies on LinkedIn ‚Äì 2026            1331  2026-01-14 11:01:46.843000              0         25  1.0
dhrubangtalukdar/e-commerce-shopper-behavior-amazonshopify-based  E-Commerce Shopper Behavior (Amazon/Shopify Based)    67685585  2026-01-04 10:46:47.973000              0         23  1.0
mabubakrsiddiq/general-mental-health-and-lifestyle-dataset        üåü General Mental Health & Lifestyle Dataset             124968  2026-01-12 13:03:33.780000              0         25  1.0
dhrubangtalukdar/lung-cancer-prediction-dataset                   Lung Cancer Prediction Dataset                           89005  2026-01-03 21:42:55.097000              0         35  1.0
kundanbedmutha/exam-score-prediction-dataset                      Exam Score Prediction Dataset                           325454  2025-11-28 07:29:01.047000           5863        311  1.0
mdickyriandi/crime-incident                                       Crime Incident                                           52418  2026-01-14 16:47:54.083000              0         16  0.8235294
mabubakrsiddiq/developer-stress-simulation-dataset                Developer Stress Simulation Dataset                       7984  2026-01-11 18:29:25.963000              0         33  1.0
shaistashahid/world-famous-places                                 World Famous Places                                       2309  2026-01-08 12:21:15.297000              0         25  1.0
donnetew/boeing-supplier-list                                     Boeing Supplier List                                      9003  2026-01-13 03:32:30.133000              0         25  0.9411765
ahmeduzaki/wind-and-solar-energy-production-dataset               Wind & Solar Energy Production Dataset                  395372  2026-01-02 21:06:22.780000              0         57  1.0
sonalshinde123/vehicle-telemetry-for-driver-behavior-analysis     Vehicle Telemetry for Driver Behavior Analysis         2528987  2026-01-14 06:35:55.400000              0         23  1.0

In [ ]:
!kaggle datasets download -d layline/insidertrading

Dataset URL: https://www.kaggle.com/datasets/layline/insidertrading
License(s): CC-BY-SA-4.0
Downloading insidertrading.zip to /content
 99% 4.20G/4.23G [01:46<00:00, 50.8MB/s]
100% 4.23G/4.23G [01:46<00:00, 42.5MB/s]

In [ ]:
!unzip insidertrading.zip

Archive:  insidertrading.zip
  inflating: lit_deriv.csv
  inflating: lit_footnotes.csv
  inflating: lit_header.csv
  inflating: lit_nonderiv.csv
  inflating: lit_panel.csv
  inflating: lit_reportingowner.csv
  inflating: lit_signatures.csv
  inflating: lit_submission.csv

In [ ]:
!ls

insidertrading.zip  lit_header.csv    lit_reportingowner.csv  sample_data
lit_deriv.csv	    lit_nonderiv.csv  lit_signatures.csv
lit_footnotes.csv   lit_panel.csv     lit_submission.csv

In [ ]:
sample_df = pd.read_csv(
    'lit_nonderiv.csv',
    nrows=1_000_000  # 1 million rows
)

sample_df.to_csv('lit_nonderiv_sample.csv', index=False)

/tmp/ipython-input-983730481.py:1: DtypeWarning: Columns (9,11,14,16,17,18,20,23,24,27) have mixed types. Specify dtype option on import or set low_memory=False.
  sample_df = pd.read_csv(

In [ ]:
sample_df.head()

,URL,accessionNumber,filingDate,filerCik,transactionType,tableRow,securityTitle,securityTitleFn,transactionDate,transactionDateFn,...,transactionAcquiredDisposedCode,transactionAcquiredDisposedCdFn,sharesOwnedFollowingTransaction,sharesOwnedFolwngTransactionFn,valueOwnedFollowingTransaction,valueOwnedFolwngTransactionFn,directOrIndirectOwnership,directOrIndirectOwnershipFn,natureOfOwnership,natureOfOwnershipFn
0,https://www.sec.gov/Archives/edgar/data/102401...,0001179110-03-007046,20030507,1024015,nonDerivativeTransaction,1,Common Stock,NaN,2003-05-05,NaN,...,A,NaN,8023,NaN,NaN,NaN,D,NaN,NaN,NaN
1,https://www.sec.gov/Archives/edgar/data/103826...,0001179110-03-007046,20030507,1038263,nonDerivativeTransaction,1,Common Stock,NaN,2003-05-05,NaN,...,A,NaN,8023,NaN,NaN,NaN,D,NaN,NaN,NaN
2,https://www.sec.gov/Archives/edgar/data/118411...,0000856223-03-000032,20030630,1184113,nonDerivativeTransaction,1,Summit Financial Corporation Common Stock,NaN,2002-10-28,NaN,...,A,NaN,86015,"F1,F2",NaN,NaN,D,NaN,NaN,NaN
3,https://www.sec.gov/Archives/edgar/data/118412...,0000856223-03-000034,20030630,1184122,nonDerivativeTransaction,1,"Common Stock, $1.00 Par Value",NaN,2002-12-30,NaN,...,A,NaN,78348,"F1,F2",NaN,NaN,D,NaN,NaN,NaN
4,https://www.sec.gov/Archives/edgar/data/118412...,0000856223-03-000033,20030630,1184121,nonDerivativeTransaction,1,"Common stock, $1.00 Par Value",NaN,2002-12-18,NaN,...,A,NaN,69397,"F1,F2,F3",NaN,NaN,D,NaN,NaN,NaN

In [ ]:
sample_df.shape

(1000000, 32)

In [ ]:
owner_sample = pd.read_csv(
    'lit_reportingowner.csv',
    nrows=200_000
)

owner_sample.head()

/tmp/ipython-input-3185401407.py:1: DtypeWarning: Columns (7,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  owner_sample = pd.read_csv(

,URL,accessionNumber,filingDate,filerCik,rptOwnerCik,rptOwnerName,rptOwnerStreet1,rptOwnerStreet2,rptOwnerCity,rptOwnerState,rptOwnerZipCode,rptOwnerStateDescription,isDirector,isOfficer,isTenPercentOwner,isOther,officerTitle,otherText
0,https://www.sec.gov/Archives/edgar/data/100001...,0001233883-03-000002,20030610,1000015,0001233883,RUBIN HOWARD A,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0,Executive Vice President &,NaN
1,https://www.sec.gov/Archives/edgar/data/100001...,0001233883-03-000006,20030613,1000015,0001233883,RUBIN HOWARD A,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0,Executive Vice President &,NaN
2,https://www.sec.gov/Archives/edgar/data/100020...,0001181431-03-009603,20030602,1000209,0001226950,JACK JAMES E,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,EVP & Chief Financial Officer,NaN
3,https://www.sec.gov/Archives/edgar/data/100022...,0001012975-03-000139,20030602,1000228,0001003495,SHAFRAN IRVING,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,NaN,NaN
4,https://www.sec.gov/Archives/edgar/data/100001...,0001233883-03-000004,20030611,1000015,0001233883,RUBIN HOWARD A,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,0.0,Executive Vice President &,NaN

In [ ]:
owner_sample.to_csv('owner_sample.csv', index=False)

In [ ]:
owner_sample.shape

(200000, 18)

In [ ]:
important_cols = [
    'accessionNumber',
    'filerCik',
    'filingDate',
    'transactionDate',
    'transactionAcquiredDisposedCode',
    'transactionShares',
    'sharesOwnedFollowingTransaction',
    'directOrIndirectOwnership'
]

nonderiv_clean = sample_df[important_cols]
nonderiv_clean.head()

,accessionNumber,filerCik,filingDate,transactionDate,transactionAcquiredDisposedCode,transactionShares,sharesOwnedFollowingTransaction,directOrIndirectOwnership
0,0001179110-03-007046,1024015,20030507,2003-05-05,A,600,8023,D
1,0001179110-03-007046,1038263,20030507,2003-05-05,A,600,8023,D
2,0000856223-03-000032,1184113,20030630,2002-10-28,A,629,86015,D
3,0000856223-03-000034,1184122,20030630,2002-12-30,A,8000,78348,D
4,0000856223-03-000033,1184121,20030630,2002-12-18,A,200,69397,D

In [ ]:
nonderiv_clean = nonderiv_clean.rename(columns={
    'transactionAcquiredDisposedCode': 'buy_sell',
    'transactionShares': 'shares',
    'sharesOwnedFollowingTransaction': 'shares_after'
})

In [ ]:
nonderiv_clean['buy_sell'] = nonderiv_clean['buy_sell'].map({
    'A': 1,  # Buy (Acquire)
    'D': 0   # Sell (Dispose)
})

In [ ]:
nonderiv_clean = nonderiv_clean.dropna(
    subset=['buy_sell', 'shares', 'transactionDate']
)

In [ ]:
nonderiv_clean['transactionDate'] = pd.to_datetime(
    nonderiv_clean['transactionDate'], errors='coerce'
)

In [ ]:
nonderiv_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 758366 entries, 0 to 999993
Data columns (total 8 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   accessionNumber            758366 non-null  object
 1   filerCik                   758366 non-null  int64
 2   filingDate                 758366 non-null  int64
 3   transactionDate            756409 non-null  datetime64[ns]
 4   buy_sell                   758366 non-null  float64
 5   shares                     758366 non-null  object
 6   shares_after               757914 non-null  object
 7   directOrIndirectOwnership  758366 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 52.1+ MB

In [ ]:
nonderiv_clean['shares'] = pd.to_numeric(
    nonderiv_clean['shares'], errors='coerce'
)

nonderiv_clean['shares_after'] = pd.to_numeric(
    nonderiv_clean['shares_after'], errors='coerce'
)

In [ ]:
nonderiv_clean = nonderiv_clean.dropna(
    subset=['shares', 'shares_after']
)

In [ ]:
nonderiv_clean['direct_ownership'] = nonderiv_clean[
    'directOrIndirectOwnership'
].map({
    'D': 1,
    'I': 0
})

In [ ]:
nonderiv_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 757100 entries, 0 to 999993
Data columns (total 9 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   accessionNumber            757100 non-null  object
 1   filerCik                   757100 non-null  int64
 2   filingDate                 757100 non-null  int64
 3   transactionDate            755145 non-null  datetime64[ns]
 4   buy_sell                   757100 non-null  float64
 5   shares                     757100 non-null  float64
 6   shares_after               757100 non-null  float64
 7   directOrIndirectOwnership  757100 non-null  object
 8   direct_ownership           757100 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(2)
memory usage: 57.8+ MB

In [ ]:
nonderiv_clean = nonderiv_clean.drop(
    columns=['directOrIndirectOwnership']
)

In [ ]:
nonderiv_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 757100 entries, 0 to 999993
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   accessionNumber   757100 non-null  object
 1   filerCik          757100 non-null  int64
 2   filingDate        757100 non-null  int64
 3   transactionDate   755145 non-null  datetime64[ns]
 4   buy_sell          757100 non-null  float64
 5   shares            757100 non-null  float64
 6   shares_after      757100 non-null  float64
 7   direct_ownership  757100 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 52.0+ MB

In [ ]:
owner_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 18 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   URL                       200000 non-null  object
 1   accessionNumber           200000 non-null  object
 2   filingDate                200000 non-null  int64
 3   filerCik                  200000 non-null  int64
 4   rptOwnerCik               200000 non-null  object
 5   rptOwnerName              199996 non-null  object
 6   rptOwnerStreet1           106995 non-null  object
 7   rptOwnerStreet2           50721 non-null   object
 8   rptOwnerCity              108871 non-null  object
 9   rptOwnerState             106889 non-null  object
 10  rptOwnerZipCode           108228 non-null  object
 11  rptOwnerStateDescription  2043 non-null    object
 12  isDirector                199864 non-null  float64
 13  isOfficer                 199834 non-null  float64
 14  isTenPercentOwner         199754 non-null  float64
 15  isOther                   199718 non-null  float64
 16  officerTitle              87137 non-null   object
 17  otherText                 14416 non-null   object
dtypes: float64(4), int64(2), object(12)
memory usage: 27.5+ MB

In [ ]:
owner_clean = owner_sample[[
    'accessionNumber',
    'isDirector',
    'isOfficer',
    'isTenPercentOwner',
    'officerTitle'
]]

In [ ]:
role_cols = ['isDirector', 'isOfficer', 'isTenPercentOwner']

for col in role_cols:
    owner_clean[col] = owner_clean[col].fillna(0).astype(int)

/tmp/ipython-input-2035690558.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  owner_clean[col] = owner_clean[col].fillna(0).astype(int)
/tmp/ipython-input-2035690558.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  owner_clean[col] = owner_clean[col].fillna(0).astype(int)
/tmp/ipython-input-2035690558.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  owner_clean[col] = owner_clean[col].fillna(0).astype(int)

In [ ]:
owner_clean['officerTitle'] = owner_clean['officerTitle'].fillna('Unknown')

/tmp/ipython-input-3587935663.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  owner_clean['officerTitle'] = owner_clean['officerTitle'].fillna('Unknown')

In [ ]:
owner_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   accessionNumber    200000 non-null  object
 1   isDirector         200000 non-null  int64
 2   isOfficer          200000 non-null  int64
 3   isTenPercentOwner  200000 non-null  int64
 4   officerTitle       200000 non-null  object
dtypes: int64(3), object(2)
memory usage: 7.6+ MB

In [ ]:
merged_df = nonderiv_clean.merge(
    owner_clean,
    on='accessionNumber',
    how='left'
)

In [ ]:
role_cols = ['isDirector', 'isOfficer', 'isTenPercentOwner']

merged_df[role_cols] = merged_df[role_cols].fillna(0)
merged_df['officerTitle'] = merged_df['officerTitle'].fillna('Unknown')

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1468588 entries, 0 to 1468587
Data columns (total 12 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   accessionNumber    1468588 non-null  object
 1   filerCik           1468588 non-null  int64
 2   filingDate         1468588 non-null  int64
 3   transactionDate    1463430 non-null  datetime64[ns]
 4   buy_sell           1468588 non-null  float64
 5   shares             1468588 non-null  float64
 6   shares_after       1468588 non-null  float64
 7   direct_ownership   1468588 non-null  int64
 8   isDirector         1468588 non-null  float64
 9   isOfficer          1468588 non-null  float64
 10  isTenPercentOwner  1468588 non-null  float64
 11  officerTitle       1468588 non-null  object
dtypes: datetime64[ns](1), float64(6), int64(3), object(2)
memory usage: 134.5+ MB

In [ ]:
role_cols = ['isDirector', 'isOfficer', 'isTenPercentOwner']

merged_df[role_cols] = merged_df[role_cols].astype(int)

In [ ]:
merged_df['is_top_insider'] = (
    (merged_df['isOfficer'] == 1) |
    (merged_df['isDirector'] == 1) |
    (merged_df['isTenPercentOwner'] == 1)
).astype(int)

In [ ]:
merged_df['filing_transaction_gap'] = (
    merged_df['filingDate'].astype(str).str[:8].astype(int)
    - merged_df['transactionDate'].dt.strftime('%Y%m%d').astype(float)
)

In [ ]:
merged_df[['is_top_insider', 'filing_transaction_gap']].describe()

       is_top_insider  filing_transaction_gap
count    1.468588e+06            1.463430e+06
mean     6.137133e-01            1.104923e+03
std      4.868978e-01            6.991443e+03
min      0.000000e+00           -3.999980e+05
25%      0.000000e+00            1.000000e+00
50%      1.000000e+00            2.000000e+00
75%      1.000000e+00            4.000000e+00
max      1.000000e+00            2.000020e+05